<div class="reminder">
  <h3 class="spec-reminder-title">{{model.title}}</h3>


  {{#if isEditing}}
  <p>hey buddy you suck</p>
  {{/if}}
  <p >
    {{model.date}}
  </p>

  {{#if model.notes}}
    <p>
      {{model.notes}}
    </p>
  {{/if}}

  <button action 'createReminder'>edit</button>

</div>

{{outlet}}
