<div class="reminder">
  <h3 class="spec-reminder-title">{{model.title}}</h3>

  <p>
    {{model.date}}
  </p>

  {{#if model.notes}}
    <p>
      {{model.notes}}
    </p>
  {{/if}}
  
</div>

{{outlet}}
