<div>
  <ul>
    {{#each model as |reminder|}}
      <li class="spec-reminder-item">
      {{#link-to 'reminder' reminder}}{{reminder.title}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
