<div>
  <ul>
    {{#each model as |reminder|}}
      {{#link-to 'reminder' reminder}}
        <li class="spec-reminder-item"> {{reminder.title}} </li>
      {{/link-to}}
    {{/each}}
  </ul>
</div>

{{outlet}}
